#title {
	color:cyan;
	font-size:125%;
	text-align:center;
	padding:5px 5px 5px 5px;
	font-family: Arial;
}

body {
	background-color: grey;
	background-size:cover;
	font-family: sans-serif;
}

#description {
	text-align:center;
	margin: 0px auto;
	padding: 10px;
	color: cyan;
}

#form-text{
	max-width: 900px;
  min-width: 600px;
  text-align:center;
  margin: 0px auto;
}

#survey-form {
	background-color:#eaedf2;
	margin:0px auto;
	padding:10px;
	text-align:center;
	margin: 0px auto;
	border-radius:10px;
	
}

.labels{
padding-bottom:10px;
}

#score-label {
	padding-right:15px;
}

textarea {
	width:50%;
}
